/* Profile.css */

.profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 80px;
  }
  
  .profile-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'],
  button {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button.update-profile-btn {
    width: 100%; /* Match width with input fields */
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button.update-profile-btn:hover {
    background-color: #0056b3;
  }
  
  .profile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  span.delete-account,
  span.sign-out {
    color: #ff0000;
    cursor: pointer;
    text-decoration: underline;
  }
  