.News {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.NewsL {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

input[type='text'] {
  width: 60vw; /* Adjust the width as needed */
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.categories button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #f0f0f0;
  font-size: 14px;
}

.categories button.active {
  background-color: #00bcd4;
  color: white;
}
