/* NewsletterList.css */

.News {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.NewsL {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

input[type='text'] {
  width: 60vw; /* Adjust the width as needed */
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.categories {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrollbar */
  gap: 10px;
  margin-bottom: 1rem;
}

.categories .category-buttons {
  display: flex;
  gap: 5px;
}

.categories button {
  padding: 8px 16px; /* Fixed padding for consistent button size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #f0f0f0;
  font-size: 14px;
  text-transform: uppercase; /* Convert text to uppercase */
}

.categories button.active {
  background-color: #00bcd4;
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}
