/* Header.css */

/* Header */
.header {
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

/* Logo */
.Logo {
  color: #ff6b6b;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.Logo:hover {
  color: #ff3333; /* Change color on hover */
}

/* Logo image */
.Logo img.logo-image {
  height: 40px; /* Adjust the height as needed */
  margin-left: 10px; /* Adjust the spacing as needed */
}

/* Logo and Title */
.logoSO {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

/* Navigation */
.Navigation {
  display: flex;
  gap: 20px;
  font-size: large;
  font-weight: bold;
}

/* Each Navigation Item */
.Navigation button,
.Navigation a {
  opacity: 0;
  position: relative;
  animation: fadeIn 0.5s forwards;
  animation-delay: 0.5s;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-block;
}

/* Navigation Button Styles */
.Navigation button,
.Navigation a {
  background: linear-gradient(to right, white, #f0f0f0); /* Gradient color scheme */
  border: none;
}

/* Styling for hover effect on buttons */
.Navigation button:hover,
.Navigation a:hover {
  filter: brightness(1.1); /* Slightly increase brightness on hover */
}

/* Animation keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Additional Styles */
.abc {
  display: flex;
  gap: 20px;
}
